@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    --color-primary: #1e2249;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title{
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 0;
}
.challenges{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}
.challenge{
    display: flex;
    flex-direction: column;
}
.challenge__title{
    background-color: var(--color-primary);
    color: #fff;
    padding: .5rem 1rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
}
.challenge__code{
    background-color: rgba(30, 34, 73, 0.01);
    border: 1px dashed rgba(128, 128, 128, 0.5);
    border-top: none;
    padding: 1rem;
    flex-grow: 1;
}
/* ============ CHALLENGE 1 ============ */
.challenge-1 .challenge__code a:hover {
    background-color: red;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0.2rem .5rem;
}
/* ============ CHALLENGE 2 ============ */
.challenge-2 .challenge__code .master:hover{
    background-color: red;
    color: #fff;
    padding: 0.2rem .5rem;
}
/* ============ CHALLENGE 3 ============ */
.challenge-3 .challenge__code p:first-child{
    background-color: red;
    color: #fff;
    padding: 0.2rem .5rem;
}
/* ============ CHALLENGE 4 ============ */
.challenge-4 .challenge__code input:focus{
    background-color: red;
    color: #fff;
    padding: 0.2rem .5rem;
    outline: none;
    border: none;
    border-radius: 2px;
}
/* ============ CHALLENGE 5 ============ */
.challenge-5 .challenge__code .intro::first-line{
    background-color: red;
    color: #fff;
    padding: 0.2rem .5rem;
}
/* ============ CHALLENGE 6 ============ */
.challenge-6 .challenge__code .intro::first-letter{
    background-color: red;
    color: #fff;
    padding: 0.2rem .5rem;
}
/* ============ CHALLENGE 7 ============ */
.challenge-7 .challenge__code p::before,
.challenge-7 .challenge__code p::after{
    content: url(img/smiley.gif);
    vertical-align: middle;
}
/* ============ RESPONSIVE ============ */
@media screen and (max-width: 992px) {
    .challenges{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}